<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hd.bluetoothutil">
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <!--Android 5.0之前是android.hardware.bluetooth_le-->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="android.bluetooth.le" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".driver.BluetoothLeService"
            android:enabled="true"/>

        <receiver android:name=".help.BleBroadCastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.FOUND"/>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
